@media (max-width: 800px){
  .footer {
    gap: 20px;

    &-logo {
      gap: 10px;
      align-items: end;

      img {
        width: 40px;
      }

      p {
        font-size: 25px;
      }
    }

    &-links {
      font-size: 14px;
      gap: 10px;
    }

    &-social {
      &-icon {
        &-container{
          img {
            width: 22px;
          }
        }
      }
    }

    &-copyright {
      font-size: 13px;
    }
  }
}