body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  width: 100px;
  height: 100px;
  position: relative;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-bems {
  margin: 0;
}

.active {
  background: green;
}