@media (max-width: 500px){
  .hero {
    flex-direction: column;
    margin-bottom: 10px;

    &-right {

      display: none;
    }

    &-left {
      h2 {
        font-size: 18px;
      }

      p {
        font-size: 50px;
      }
    }

    &-hand {
      &-icon {
        img {
          width: 55px;
        }
      }
    }

    &-latest {
      &-btn {
        width: 200px;
        height: 45px;
        font-size: 14px;
      }
    }
  }
}