@media (max-width: 1280px){
  .hero {
    &-left {
      padding-left: 100px;

      h2 {
        font-size: 22px;
      }

      p {
        font-size: 60px;
      }
    }

    &-hand {
      &-icon {
        img {
          width: 80px;
        }
      }
    }

    &-latest {
      &-btn {
        gap: 10px;
        width: 250px;
        height: 60px;
        margin-top: 20px;
        font-size: 18px;
      }
    }

    &-right {
      img {
        width: 500px;
      }
    }
  }
}