@media (max-width: 1280px) {
  .product {
      &-display {
        margin: 0 60px;

        &-left {
          gap: 10px;

          &-img {
            &-list {
              gap: 10px;

              img {
                height: 120px;
              }
            }
          }
        }

        &-main {
          &-img {
            width: auto;
            height: 510px;
          }
        }

        &-right {
          margin: 0 30px;

          h1 {
            font-size: 22px;
          }

          button {
            width: 150px;
            padding: 15px 0;
            margin-bottom: 20px;
          }

          &-stars {
            gap: 3px;
            font-size: 13px;
          }

          &-prices {
            margin: 10px 0;
            font-size: 18px;
          }

          &-description {
            font-size: 13px;
          }

          &-size {
            h2 {
              margin-top: 20px;
              font-size: 20px;
            }

            &-all {
              padding: 14px 20px;
            }
          }

          &-category {
            margin-top: 5px;
            font-size: 14px;
          }
        }
      }
  }
}