.breadcrum {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #5e5e5e;
  font-size: 16px;
  font-weight: 600;
  margin: 60px 170px;
  text-transform: capitalize;
}

@import './size/Breadcrum_1280';
@import './size/Breadcrum_1024';
@import './size/Breadcrum_800';
@import './size/Breadcrum_500';