@media (max-width: 1024px) {
  .new-collections {

    h1 {
      font-size: 30px;
    }

    hr {
      width: 120px;
      height: 3px;
    }
  }

  .collections {
    gap: 15px;
    margin-top: 20px;
  }
}