@media ( max-width: 1024px) {
  .offers {
    padding: 0 60px;
    margin-bottom: 80px;
    height: 40vh;

    &-left {
      h2 {
        font-size: 30px;
      }    

      p {
        font-size: 16px;
      }

      button {
        width: 160px;
        height: 40px;
        font-size: 16px;
      }
    }

    &-right {
      padding-top: 10px;

      img {
        width: 200px;
      }
    }
  }
}